{% extends 'base.html.twig' %}

{% block csv %}
    <meta http-equiv="refresh" content="5; url={{ path('home') }}">
{% endblock %}

{% block content %}
<h1>Bien joué,.... redirection dans 5 secondes </h1>
{% endblock %}
