body{

}
footer{

}
#main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#title{
    display: flex;
    flex-direction: row;
}
#menu a{
    margin: 10px;
    text-decoration: none;
    color: #007bff;
}
#datejour{
    float: right;
    width: 20%;
}
#filtres{
    display: flex;
    flex-direction: row;
}