

body{
    background: #8fd19e;
}
footer{

}
#main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 1em;
}
#title{
    display: flex;
    flex-direction: row;
}

.test {
    visibility: hidden;
}
#menu a{
    margin: 10px;
    text-decoration: none;
    color: #007bff;
}
#datejour{
    float: right;
    width: 20%;
}
#filtres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}
#filtres button{
    width: 15em;
    height: 5em;
}
#filtresGeo{
    width: 45%;
}
#filtresGeo select, input{
    margin-left: 10%;
}
#lesCheckbox{
    display: flex;
    flex-direction: row;
}
#laCbx, #lblCbx{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#tabSorties{
    margin-left: 5%;
    max-height:400px;
    max-width:95%;
    overflow:scroll;/*pour activer les scrollbarres*/
    overflow-x: hidden;
}
#tableHome{
    border : medium solid black;
    border-collapse: separate;
    width: 95%;
    text-align: center;
}
#tableHome th{
    border : thin solid black;
    background-color: #AAAAAA;
}
#tableHome td{
    border: thin solid #007bff;
}
#btnCreateSortie{
    padding: 0.5em;
    margin: 2% 0% 0% 5%;
    width: 15%;
}
.h2Home{
    margin-left: 1em;
}

#info{
        margin-top: 5%;
     display: flex;
     flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-left: 30%;
 }
#aProfil{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col1, col2{
    display: flex;
    flex-direction: column;
}
#tableAfficher td {

    border: thin solid #6495ed;
    width: 50%;
}
#listParticip{
    padding: 1em;
}