body{

}
footer{

}
#main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#title{
    display: flex;
    flex-direction: row;
}
#menu a{
    margin: 10px;
    text-decoration: none;
    color: #007bff;
}
#datejour{
    float: right;
    width: 20%;
}
#filtres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}
#filtres button{
    width: 15em;
    height: 5em;
}
#lesCheckbox{
    display: flex;
    flex-direction: row;
}
#laCbx, #lblCbx{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h2Home{
    margin-left: 1em;
}

#info, #info2{

     display: flex;
     flex-direction: column;
 }

#infoparent{

    display: flex;
    flex-direction: row;

}