{% extends 'base.html.twig' %}

{% block content %}

    <div id="datejour">
        Date du jour : <br>
        Participant :
    </div>

    <div id="filtres">

    </div>
{% endblock %}

{% block title %}Sortir | Accueil{% endblock %}
