<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hello{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block content %}
            <h1>Hello !</h1>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
