{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block content %}
    <h1>Créer une sortie</h1>

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button class="btn">Enregistrer</button>
    {{ form_end(sortieForm) }}

{% endblock %}